.catalog {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 48px 46px;
  justify-content: center;

  @include responsive-grid(2, 488px, $card-width);
  @include responsive-grid(3, 768px, $card-width);
  @include responsive-grid(4, 1024px, $card-width);
}
