$primary-text-color: #060b35;
$secondary-text-color: #616070;
$card-title-color-hover: #34568b;
$button-text-color-hover: #00acdc;
$white: #fff;
$black: #000;
$accent-color: #00acdc;
$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-base: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$line-height-base: 14px;
$line-height-medium: 16px;
$line-height-large: 18px;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$border-radius: 5px;
$card-width: 200px;
$shadow: 0px 2px 4px 0px #0000000d;
